[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"
flask = "*"
flask-sqlalchemy = "*"
werkzeug = "*"
flask-cors = "*"
flask-migrate = "*"
python-dotenv = "*"
cloudinary = "*"
flask-dance = "*"
flask-jwt-extended = "*"
gunicorn = "*"
requests = "*"
flask-mail = "*"
redis = "*"
flask-limiter = "*"

[requires]
python_version = "3.8"

[packages]
ngrok = "*"

[dev-packages]
