[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
werkzeug = "*"
flask-cors = "*"
flask-migrate = "*"
python-dotenv = "*"
cloudinary = "*"
flask-dance = "*"
flask-jwt-extended = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
google-api-python-client = "*"
gunicorn = "*"

[dev-packages]

[requires]
python_version = "*"
